<div class="row">
  <div class="col">
    <small class="text-muted"> $date$ </small>
  </div>
</div>
<article class="row">
    <section class="col-lg-7">
        $body$
    </section>
    <section class="col-lg-5">
        $if(authors)$
            $authors$
        $endif$
        <br>
        <div>
<i class="fa fa-twitter"></i>
           <a class="btn facebook text-xs-center" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
           <a class="btn google text-xs-center" href="#"><i class="fa fa-google" aria-hidden="true"></i></a>
           <a class="btn linkedin text-xs-center" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
           <a class="btn instagram text-xs-center" href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
           <a class="btn flickr text-xs-center" href="#"><i class="fa fa-flickr" aria-hidden="true"></i></a>
           <a class="btn github text-xs-center" href="#"><i class="fa fa-github" aria-hidden="true"></i></a>
        </div>
        <br>
        $if(tags)$
          <div style="column-count: 1;" class="card-columns">
            $tags$
          </div>
        $endif$
        $if(countries)$
          <div style="column-count: 1;" class="card-columns">
            $countries$
          </div>
        $endif$
    </section>
</article>
