<div class="row">
  <div class="col">
    <small class="text-muted"> $date$ </small>
  </div>
</div>
<article class="row">
    <section class="col-lg-7">
        $body$
    </section>
    <section class="col-lg-5">
        $if(authors)$
            $authors$
        $endif$
        <br>
        $if(tags)$
          <div style="column-count: 1;" class="card-columns">
            $tags$
          </div>
        $endif$
        $if(countries)$
          <div style="column-count: 1;" class="card-columns">
            $countries$
          </div>
        $endif$
    </section>
</article>
