<div class="row">
  <div class="col">
    <small class="text-muted"> $date$ </small>
  </div>
</div>

<article class="row">
    <section class="col-lg-7">
        $body$
    </section>
    <section class="col-lg-5">
        $if(authors)$
            $authors$
        $endif$
        <br>
        <div class="row">
          <div class="col text-center">
            <a class="btn" href="#"><i class="fab fa-5x fa-facebook" aria-hidden="true"></i></a>
            <a class="btn" href="#"><i class="fab fa-5x fa-google" aria-hidden="true"></i></a>
            <a class="btn" href="#"><i class="fab fa-5x fa-linkedin" aria-hidden="true"></i></a>
            <a class="btn" href="#"><i class="fab fa-5x fa-instagram" aria-hidden="true"></i></a>
            <a class="btn" href="#"><i class="fab fa-5x fa-flickr" aria-hidden="true"></i></a>
            <a class="btn" href="#"><i class="fab fa-5x fa-github" aria-hidden="true"></i></a>
          </div>
        </div>
        <br>
        $if(tags)$
          <div style="column-count: 1;" class="card-columns">
            $tags$
          </div>
        $endif$
        $if(countries)$
          <div style="column-count: 1;" class="card-columns">
            $countries$
          </div>
        $endif$
    </section>
</article>
